@import "assets/css/normalize.css";

$primary-color-background: grey;
$second-color-background: white;

$primary-color-text: black;
$second-color-text: rgb(214, 49, 49);

@mixin text-deco ($size){
    text-align: left;
    color: $primary-color-text;
    font{
        size: $size;
        family: 'Times New Roman', Times, serif;
    }
}

@mixin text-spacing ($mymargin) {
    margin-left: $mymargin;
    margin-right: $mymargin;
    letter-spacing: 1.8px;
    line-height: 28px;
}

@mixin boite ($pad, $mywidth){
    background-color: $second-color-background;
    width: $mywidth;
    margin-right: auto;
    margin-left: auto   ;
    margin-top: 2%;
    display: block;
    border-radius: 12px;
    padding-top: $pad;
    padding-bottom: $pad;
}

@mixin red-button($pad-height, $pad-size){
        background-color: rgb(214, 49, 49);
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: $pad-height $pad-size;
        border-radius: 12px;
        border: none;
        &:hover{
            background-color: $primary-color-text;
        }
}

@mixin my-header($header-color, $header-font, $header-where ){
    color: $header-color;
    font-size: $header-font;
    text-align: $header-where;
}

@mixin interior-div(){
        background-color: rgba(255, 255, 0, 0.658);
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        p{
            font-size: 15px;
        }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: rgba(17, 17, 172, 0.589);
    }
    .small{
        display: none;
    }
    .medium{
        display: none;
    }
    .large{
        @include interior-div();
        .wrapper{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    body {
        background-color: rgba(24, 124, 24, 0.753);
    }
    .small{
        display: none;
    } 
    .medium{
        @include interior-div();
        #p1 {
            grid-area: p1;
        }
        #p2{
            grid-area: p2;
        }         
        #p3{
            grid-area: p3;
        }
        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "p1 p1 p2"
            "p3 p3 p3";
        }
    }
    .large{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    body {
        background-color: rgba(185, 17, 17, 0.815);
    }
    .small{
        @include interior-div();
        .wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .medium{
        display: none;
    } 
    .large{
        display: none;
    }
}



body{
    /* background-color: $primary-color-background; */
    h4{
        @include my-header($second-color-text, 18px, center)
    }
    .paragraphe{
        p {
            @include text-deco(5px);
            @include text-spacing(7%);
        }
        a{
            @include text-deco(5px);
            @include text-spacing(7%);
            &:hover{
                text-decoration: none;
            }
            &:visited{
                text-decoration: none;
            }
        }
        h1{
            @include my-header($second-color-text, 40px, center)
        }
        h2{
            @include my-header($primary-color-text, 30px, center)
        }
        h3{
            @include my-header($primary-color-text, 24px, left)
        }
        &#introduction{
            @extend .paragraphe;
            @include boite(5%, 50%);
            text-align: center;
            button{
                
                @include red-button(40px, 50px);
            }
            img{
                margin-top: 2%;
                border-radius: 100%;
                border: solid 8px grey;
                width: 20%;
            }
            a{
                color: $second-color-background;
                &:visited{
                    color: $second-color-background;
                }
            }
        }
        &#resaux-sociaux{
            @extend .paragraphe;
            @include boite(5%, 50%);
            text-align: center;
            li{
                display: inline;
            }
            a{
                text-decoration: none;
                &:visited{
                    @extend a;
                }
            }
            i{
                font-size: 150%;
                padding: 8%;
                color: grey;
                &:hover{
                    color:$primary-color-text
                }
            }
        }
        &#favorites-movies{
            @extend .paragraphe;
            @include boite(5%, 50%);
            img{
                margin: 0% 5% 3% 3%;
                margin-top: auto;
                margin-bottom: auto;
                float: left;
            }
            article {
                padding-top: 3%;
                padding-bottom: 10%;
            }
            .je-suis-un-film{
                display: inline-block;
            }
        }
    }
}