@import url(assets/css/normalize.css);
@media only screen and (min-width: 1200px) {
  /* line 59, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  body {
    background-color: rgba(17, 17, 172, 0.589);
  }
  /* line 62, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  .small {
    display: none;
  }
  /* line 65, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  .medium {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  /* line 70, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  body {
    background-color: rgba(24, 124, 24, 0.753);
  }
  /* line 73, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  .large {
    display: none;
  }
  /* line 76, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  .small {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* line 81, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  body {
    background-color: rgba(185, 17, 17, 0.815);
  }
  /* line 84, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  .large {
    display: none;
  }
  /* line 87, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
  .medium {
    display: none;
  }
}

/* line 94, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body {
  /* background-color: $primary-color-background; */
}

/* line 96, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .small, body .medium, body .large {
  background-color: rgba(255, 255, 0, 0.658);
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

/* line 101, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .small p, body .medium p, body .large p {
  font-size: 15px;
}

/* line 104, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .small h4, body .medium h4, body .large h4 {
  color: #d63131;
  font-size: 18px;
  text-align: center;
}

/* line 109, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe p, body .paragraphe#introduction p, body .paragraphe#resaux-sociaux p, body .paragraphe#favorites-movies p {
  text-align: left;
  color: black;
  margin-left: 7%;
  margin-right: 7%;
  letter-spacing: 1.8px;
  line-height: 28px;
}

/* line 12, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe p font, body .paragraphe#introduction p font, body .paragraphe#resaux-sociaux p font, body .paragraphe#favorites-movies p font {
  size: 5px;
  family: 'Times New Roman', Times, serif;
}

/* line 113, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe a, body .paragraphe#introduction a, body .paragraphe#resaux-sociaux a, body .paragraphe#favorites-movies a, body #resaux-sociaux.paragraphe a:visited {
  text-align: left;
  color: black;
  margin-left: 7%;
  margin-right: 7%;
  letter-spacing: 1.8px;
  line-height: 28px;
}

/* line 12, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe a font, body .paragraphe#introduction a font, body .paragraphe#resaux-sociaux a font, body .paragraphe#favorites-movies a font, body #resaux-sociaux.paragraphe a:visited font {
  size: 5px;
  family: 'Times New Roman', Times, serif;
}

/* line 116, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe a:hover, body .paragraphe#introduction a:hover, body .paragraphe#resaux-sociaux a:hover, body .paragraphe#favorites-movies a:hover {
  text-decoration: none;
}

/* line 119, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe a:visited, body .paragraphe#introduction a:visited, body .paragraphe#favorites-movies a:visited, body #resaux-sociaux.paragraphe a:visited {
  text-decoration: none;
}

/* line 123, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe h1, body .paragraphe#introduction h1, body .paragraphe#resaux-sociaux h1, body .paragraphe#favorites-movies h1 {
  color: #d63131;
  font-size: 40px;
  text-align: center;
}

/* line 126, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe h2, body .paragraphe#introduction h2, body .paragraphe#resaux-sociaux h2, body .paragraphe#favorites-movies h2 {
  color: black;
  font-size: 30px;
  text-align: center;
}

/* line 129, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe h3, body .paragraphe#introduction h3, body .paragraphe#resaux-sociaux h3, body .paragraphe#favorites-movies h3 {
  color: black;
  font-size: 24px;
  text-align: left;
}

/* line 132, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe#introduction {
  background-color: white;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  display: block;
  border-radius: 12px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

/* line 136, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe#introduction button {
  background-color: #d63131;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 40px 50px;
  border-radius: 12px;
  border: none;
}

/* line 47, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe#introduction button:hover {
  background-color: black;
}

/* line 140, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe#introduction img {
  margin-top: 2%;
  border-radius: 100%;
  border: solid 8px grey;
  width: 20%;
}

/* line 146, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe#introduction a, body .paragraphe#introduction #resaux-sociaux.paragraphe a:visited, body #resaux-sociaux.paragraphe .paragraphe#introduction a:visited {
  color: white;
}

/* line 148, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body .paragraphe#introduction a:visited {
  color: white;
}

/* line 153, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #resaux-sociaux.paragraphe {
  background-color: white;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  display: block;
  border-radius: 12px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

/* line 157, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #resaux-sociaux.paragraphe li {
  display: inline;
}

/* line 160, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #resaux-sociaux.paragraphe a, body #resaux-sociaux.paragraphe a:visited {
  text-decoration: none;
}

/* line 166, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #resaux-sociaux.paragraphe i {
  font-size: 150%;
  padding: 8%;
  color: grey;
}

/* line 170, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #resaux-sociaux.paragraphe i:hover {
  color: black;
}

/* line 175, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #favorites-movies.paragraphe {
  background-color: white;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  display: block;
  border-radius: 12px;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 178, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #favorites-movies.paragraphe img {
  margin: 0% 5% 3% 3%;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}

/* line 184, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #favorites-movies.paragraphe article {
  padding-top: 3%;
  padding-bottom: 10%;
}

/* line 188, ../Documents/GitHub/responsive-website/Assets/scss/style.scss */
body #favorites-movies.paragraphe .je-suis-un-film {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */